* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
                           /* GLAVNAYA */
.top {
    background: #222222;
    height: 75px;
    display: flex;
}
.b {
    margin-top: 18px;
   float: left;    
}
.search {
    margin-top: 28px;
    margin-left: 41px;
    float: left;
}
.cont {
    float: right;
    padding-left: 25px;
    padding-top: 26px;
}
.pay {
    float: right;
    padding-left: 42px;
    padding-top: 26px;
}
summary {
    width: 32px;
    height: 23px;
    display: block;
}
summary::-webkit-details-marker {
    display: none;
}
summary::after {
    width: 32px;
    height: 23px;
}
details {
    float: right;
    margin-top: 30px;
    position: relative;
}
.menu {
    background: #FFFFFF;
    -webkit-box-shadow: -5px 5px 28px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -5px 5px 28px 0px rgba(0, 0, 0, 0.4);
    box-shadow: -5px 5px 28px 0px rgba(0, 0, 0, 0.4);
    margin: 22px 0 0 0;
    width: 232px;
    height: 764px;
    position: absolute;
}
.h4-menu {
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-top: 37px;
    padding-left: 34px;
}
.h4 {
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 33px;
}
.p-menu {
    text-decoration: none;
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #6F6E6E;
    padding-left: 55px;
}
.p-menu:hover {
    color: #F16D7F;
    font-size: 17px;
}
.brand {
    background-color: #F1E4E6;
    height: 764px;
}
.man-top {
    background: url(img/man-top.png) -50% 50% no-repeat;
    display: flex;
    padding: 364px 0 297px 0;
    justify-content: end;
}
.brand-text {
    background-color: #f16d7f;
    min-width: 12px;
    margin: -8px 16px 6px 5px;
}
.of-lux {
    font-family: Lato, Helvetica, sans-serif;
    max-width: 589px;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222;
    margin: -32px 68px -5px 0;
} 
span:first-child {
    font-size: 60px;
    font-weight: 900;
}
span:last-child {
    color: #f16d7f;
}
.content {
    margin-top: 65px;
}
.box {
    width: 1140px;
    display: flex;
    justify-content: space-between;
}
.for-woman {
    transition: 1s;
}
.for-woman:hover {
    transform: scale(1.2);
}  
.for-man {
    transition: 1s;
}
.for-man:hover {
    transform: scale(1.2);
}
.for-kids {
    transition: 1s;
}
.for-kids:hover {
    transform: scale(1.2);
}
.acces {
    margin-top: 30px;
    margin-bottom: 96px;
    transition: 1s;
}
.acces:hover {
    transform: scale(1.2);
}
.shopping {
    margin-bottom: 48px;
    text-align: center;
}
.box1 {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    height: 581px;
}
.box2 {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    height: 581px;
}
.cards-pay {
    position: relative;
}
.cards {
    height: 420px;
    background: rgba(58, 56, 56, 0.86);
    display: block;
    text-decoration: none;
}
.text {
    background: #F8F8F8;
    text-align: left;
    height: 161px;
    margin-top: -5px;   
}
.paypall {
    width: 360px;
    height: 420px;
    opacity: 1;
    transition: opacity 150ms linear;
}
.paypall:hover {
    opacity: 0.2;
}
.add-hover {
    display: none;
    position: absolute;
    top: 30%;
    left: 111.5px;
    justify-content: center;
    pointer-events: none;
}
.dec-hover-href {
    text-decoration: none;
    display: flex;
    border: 1px solid #FFFFFF;
    align-items: center;
    width: 138px;
    height: 43px;
}

.card-pay-hover {
    padding-left: 13px;
    height: 24px;
    width: 26px;
}
.add-to-cart-hover {
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-left: 11px;
}
.cards-pay:hover .add-hover{
    display: flex;
    box-shadow: 0 0 20px #FFFFFF;
}

.ellery {
    width: 200px;
    height: 16px;
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-top: 25.35px;
    padding-left: 18px;
}
.known {
    width: 314.74px;
    height: 51px;
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-top: 13px;
    padding-left: 18px;
}
.cent {
    width: 52.46px;
    height: 19px;
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-top: 18px;
    padding-left: 18px;
}

.browse-all-prod {
    background: #F16D7F;
    border: 1px solid #FF6A6A;
    display: flex;
    justify-content: center;
    width: 211px;
    height: 47px;
    font-family: Lato, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
    padding: 15px 39px;
    margin: 49px 465px 95px;
}
.browse-all-prod:hover {
    background: #ffffff;
    color: #F16D7F;
    -webkit-transition: all 1s ease;
    transition: all 120ms ease;
}
.footer1 {
    background: #222224;
    height: 341px;
}
.centr {
    display: flex;
    justify-content: space-between;
}
.super-block {
    width: 360px;
    margin-top: 103px;
    text-align: center
}
.foot-1-h4 {
    font-family: Lato, Helvetica, sans-serif;    
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    text-align: center;
    color: #FBFBFB;
    margin-top: 28px;
}
.foot-1-p {
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin-top: 16px;
}
.img-foot-1 {
    text-align: center;
}
.footer2 {
    background: url(img/fon-podval.svg) no-repeat center / cover;
    height: 448px;
}
.subscribe {
    display: flex;
    justify-content: space-between;
}
.avtor {
    text-align: center;
    margin: 88px 0 0 0;
}
.vestibul {
    width: 360px;
    padding-top: 30px;
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}
.form {
    margin-top: 150px;
}
.input-group {
    margin-top: 32px;
    text-align: center;
}
.form-control {
    background: #E1E1E1;
    width: 323px;
    height: 49px;
    border: 0px;
    border-radius: 50px 0 0 50px;
    padding-left: 22px;
}
.button {
    background: #E05C6E;
    border: 0px;
    width: 100px;
    height: 49px;
    border-radius: 0 50px 50px 0;
    margin-left: -5px;
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.button:hover {
    background: #FFFFFF;
    color: #E05C6E;
}
.prava {
    height: 79px;
    background: #222224;
}
.txt {
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    padding-top: 30px;
}
.ssilka {
    background: #FFFFFF;
    width: 32px;
    height: 32px;
    margin-top: 24px;
}
.ssilka:hover {
    background: #F16D7F;
}
                              /* CATALOG */

.top-catalog {
    background: #F8F3F4;
    height: 148px;
}
.p-arrivals {
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    padding-top: 59px;
}
.active {
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color:  #F16D7F;
}
.bread {
    display: flex;
    justify-content: space-between;
}
.breadcrumb{
    padding: 10px 16px;
    list-style: none;
    padding-top: 59px;
}
.breadcrumb-item {
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    display: inline;
    font-size: 18px;
    text-transform: uppercase;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #636363;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #f16d7f;
}
ul.breadcrumb li:last-of-type {
    color: #f16d7f;
    font-family: Lato, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.section-product {
    background: #F7F7F7;
    display: flex;
    height: 777px;
    position: relative;
}
.carusel-img {
    position: absolute;
    left: 30%;
}
.opis-product {
    height: 601px;
    border: 1px solid #EAEAEA;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.opis-product-centr {
    width: 555px;
    text-align: center;
}
.top-txt-product {
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    padding-top: 64.54px;
}
.top-line-product {
    border-bottom: 3px solid #EF5B70;
    width: 63px;
    margin-left: 246px;
    margin-bottom: 12px;
    padding-bottom: 12px;
}
.top-txt-product-name {
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin-bottom: 48px;
}
.top-p-product {
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    margin-bottom: 32px;
}
.top-price-product {
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    padding-bottom: 65px;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 65px;
}
.top-box-product {
    display: flex;
    justify-content: space-between;
}
.top-box-info-product {
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    border: none;
}
.add-btn-product-centr {
    display: flex;
    justify-content: center;
}
.add-to-cart-product {
    width: 211px;
    height: 47px;
    border: 1px solid #ef5b70;
    background-color: #fff;
    margin-top: 49px;
    margin-bottom: 65px;
}
.add-to-cart-product:hover {
    background: #EAEAEA;
    -webkit-transition: all 1s ease;
    transition: all 120ms ease;
}
.add-to-cart-product-button {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #F26376;
}
.add-to-cart-product-txt {
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding-left: 23px;
}
.product-catalog-otstup-128px {
   margin-bottom: 128px; 
}
